<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.0.0" targetFramework="net461" />
  <package id="Galactic.ActiveDirectory" version="1.3.0.499" targetFramework="net461" />
  <package id="Galactic.Configuration" version="1.3.0.499" targetFramework="net461" />
  <package id="Galactic.Cryptography" version="1.3.0.499" targetFramework="net461" />
  <package id="Galactic.EventLog" version="1.3.0.499" targetFramework="net461" />
  <package id="Galactic.EventLog.Sql" version="1.3.0.499" targetFramework="net461" />
  <package id="Galactic.FileSystem" version="1.3.0.499" targetFramework="net461" />
  <package id="Galactic.LDAP" version="1.3.0.499" targetFramework="net461" />
  <package id="Galactic.Sql" version="1.3.0.499" targetFramework="net461" />
  <package id="Galactic.Sql.MSSql" version="1.3.0.499" targetFramework="net461" />
  <package id="Galactic.Web.Security.SimpleActiveDirectory" version="1.3.0.499" targetFramework="net461" />
  <package id="jQuery" version="1.10.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.3" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="1.3.2" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Modernizr" version="2.6.2" targetFramework="net461" />
  <package id="Unofficial.Microsoft.SQLServer.SMO" version="11.0.3000.0" targetFramework="net461" />
</packages>